body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url("pattern-background-desktop.svg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}


h1 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #888;
}

.summary {
    background-color: #f3f9ff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center; /* Centramos verticalmente */
    margin-bottom: 20px;
}

.icon {
    display: flex;
    align-items: center;
}

.icon img {
    max-width: 30px;
    margin-right: 10px;
}

.plan-details {
    text-align: left;
    font-weight: bold;
}

.price {
    font-size: 16px;
    color: #888;
    display: block;
}

.change {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    margin-left: 500px;
}

.proceed-btn {
    text-align: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px;
    border-radius: 5px;
}

.proceed-btn button {
    background-color: #1e02bc;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.cancel-order {
    font-size: 12px;
    cursor: pointer;
}